<div class="uk-panel uk-panel-box uk-panel-box">
    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-4">
            <fabric_canvasoptions></fabric_canvasoptions>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-form-row">
                <label class="uk-form-label" for="design-name">{{ 'Projectnaam' | trans}}</label>
                <div class="uk-form-controls">
                    <input type="text" id="design-name" class="uk-form-large uk-form-blank uk-width-1-1"
                           v-model="projectName"
                           v-on="change: saveState"/>
                </div>
            </div>

        </div>
        <div class="uk-width-1-4">

            <div class="uk-margin">
                <fabric_state></fabric_state>
            </div>
            <div class="uk-margin">
                <fabric_export></fabric_export>
            </div>

        </div>


    </div>
</div>
<div class="uk-margin">
    <div class="uk-width-1-1">

        <ul class="uk-tab" data-uk-tab="{connect:'#tools-switcher'}">
            <li><a href="#"><i class="uk-icon-pencil"></i></a></li>
            <li><a href="#"><i class="uk-icon-font"></i></a></li>
            <li><a href="#"><i class="uk-icon-image"></i></a></li>
        </ul>

        <ul id="tools-switcher" class="uk-switcher uk-margin">
            <li>
                <fabric_figures></fabric_figures>
            </li>
            <li>
                <fabric_text></fabric_text>
            </li>
            <li>
                <fabric_images></fabric_images>
            </li>
        </ul>


    </div>
</div>


<div class="uk-grid uk-grid-small">

    <div class="uk-width-medium-1-4 uk-width-large-1-5">
        <div class="uk-width-1-1">

            <fabric_layercontrols></fabric_layercontrols>

        </div>

    </div>

    <div class="uk-width-medium-2-4 uk-width-large-3-5">

        <div class="uk-panel uk-panel-box">

            <canvas v-el="canvas" width="{{ canvasOptions.width }}" height="{{ canvasOptions.height }}"></canvas>

        </div>

    </div>


    <div class="uk-width-medium-1-4 uk-width-large-1-5">
        <div class="uk-width-1-1">
            <fabric_layerselect></fabric_layerselect>
        </div>

    </div>
</div>

<div class="uk-margin">

    <fabric_library></fabric_library>

</div>

<pre>{{ $data.activeLayer.fObj | json }}</pre>
<pre>{{ $data | json }}</pre>