
<ul class="uk-tab" data-uk-tab="{connect:'#library-switcher'}">
    <li v-if="images.length"><a href="">{{ 'Afbeeldingen' | trans }}</a></li>
</ul>
<ul id="library-switcher" class="uk-switcher uk-margin">
    <li v-if="images.length">
        <ul class="uk-thumbnav">
            <li v-repeat="image: images">
                <a href="#" title="{{ image.title }}" v-on="click: selectImage(image, $event)">
                    <img v-attr="src: image.src" alt="{{ image.filename }}" width="100" height="150"/>
                </a>
            </li>
        </ul>

    </li>
</ul>

