/.idea
/.vagrant
/node_modules
/puphpet.zip
/puphpet/*
!/puphpet/config.yaml

/vendor
/html
/public/images
/public/cockpit/*
!/public/cockpit/modules
/public/cockpit/modules/*
!/public/cockpit/modules/addons
/public/cockpit/modules/addons/*
!/public/cockpit/modules/addons/Printdesigner
