
<div class="uk-panel uk-panel-box"
     v-show="activeLayer.type"
        >
    <h3 class="uk-panel-title">{{ activeLayer.title}}</h3>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-width">Width</label>
        <div class="uk-form-controls">
            <input type="text" id="layercontrol-width"
                   v-model="activeLayer.fObj.width"
                   v-on="input: updateValue('width')"
                   number>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-height">Height</label>
        <div class="uk-form-controls">
            <input type="text" id="layercontrol-height"
                   v-model="activeLayer.fObj.height"
                   v-on="input: updateValue('height')"
                   number>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-top">Top</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-top" min="0" max="{{ canvasOptions.height }}" step="1"
                   v-model="activeLayer.fObj.top"
                   v-on="input: updateValue('top')"
                   number>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-left">Left</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-left" min="0" max="{{ canvasOptions.width }}" step="1"
                   v-model="activeLayer.fObj.left"
                   v-on="input: updateValue('left')"
                   number>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-scalex">Scale X</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-scalex" min="0" max="3" step="0.1"
                   v-model="activeLayer.fObj.scaleX"
                   v-on="input: updateValue('scale')"
                   number>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="layercontrol-scaley">Scale Y</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-scaley" min="0" max="3" step="0.1"
                   v-model="activeLayer.fObj.scaleY"
                   v-on="input: updateValue('scale')"
                   number>
        </div>
    </div>

    <div class="uk-form-row" v-if="activeLayer.type == 'rectangle'">
        <label class="uk-form-label" for="layercontrol-angle">Angle</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-angle" min="0" max="360" step="1"
                   v-model="activeLayer.fObj.angle"
                   v-on="input: updateValue('angle')"
                   number>
        </div>
    </div>

    <div class="uk-form-row" v-if="activeLayer.type == 'circle'">
        <label class="uk-form-label" for="layercontrol-endangle">Angle c</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-endangle" min="0" max="360" step="1"
                   v-model="activeLayer.fObj.endAngle"
                   v-on="input: updateValue('endAngle')"
                   number>
        </div>
    </div>

    <div class="uk-form-row" v-if="activeLayer.type == 'circle'">
        <label class="uk-form-label" for="layercontrol-radius">Radius</label>
        <div class="uk-form-controls">
            <input type="range" id="layercontrol-radius" min="0" max="500" step="1"
                   v-model="activeLayer.fObj.radius"
                   v-on="input: updateValue('radius')"
                   number>
        </div>
    </div>

</div>


